html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

#fengMap
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.btns
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.btns button
{
    display: block;
    margin-bottom: 10px;
}

.operating{
    position: absolute;
    left: 2%;
    bottom: 2%;
}
.operating button {
    display: block;
    margin-bottom: 10px;
}
.panel{
background: #F1F2F7;
   border: none;
   border-radius: none;
   box-shadow:none;
}
.panel-info {
border: none;
}

#control
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}
#control label{
    font-weight: 500;
}
#control input{
    vertical-align: top;
}