extends _layout
block content
  link(rel='stylesheet', href='/zh/assets/css/order.css')
  section.order.container
    .wrapper.row
      .purchase
        div(style="text-align: center;")
          h3 云子的购买条款和介绍
        .col
          p Sensoro Co., Ltd.公司生产的 YUNZI Beacon 将以三(3)个云子为一单位进行销售。3 - YUNZI Beacon 套装附带 Sensoro Software Development Kit ("SDK")。YUNZI Beacons、SDK 以及 3 - YUNZI Beacon 套装以下单独或合称为“产品”，其包括的相关维修和其他专业服务，以下单独或者合称为“服务”。
          p 任何个人或单位购买或使用产品或服务应受限于本协议（“本协议”），本协议包括（3）本购买条款和条件（“购买条款和条件”）和（2）Sensoro 的隐私权政策，详见 www.sensoro.com，对其不时进行的更新和修改将不另行通知买方。
        .title
          span.n 1
          span 订购
        .col
          p 买方可以通过在 Sensoro 的网站 http://www.sensoro.com（“网站”）上提交订单购买一套 Sensoro 传感器（“订单”）。当 Sensoro 装运产品后即视为订单完成。
            b(style="font-weight: bold;") 买方同意，任何额外或与本协议所列条款和条件不符的条款和条件，包括任何买方声称的强加于购货订单中的条款和条件，无论 Sensoro 就该等购货订单是否实际作出接受、承认或者装运产品的行为，均视为予以拒绝且不产生任何效力。
        .title
          span.n 2
          span 支付
        .col
          p 买方可以通过网络支付工具（支付宝／paypal／网上银行等）或者电汇方式（账号由 Sensoro 提供）进行订单支付。如果买方选择网上支付，则（1）买方将在网上下单时提交支付详情，（2）买方账户将会被用来支付传感器套装购买价款。如果买方选择通过电汇方式支付，则（1）买方需要在网上提交订单时向 Sensoro 发出出具发票的指令，（2）Sensoro 在收到订单后向买方开具传感器的发票，（3）除非在发货前 Sensoro 和买方已经书面同意其他支付条件，买方应在收到上述订单发票后15日内通过电汇方式支付。
        .title
          span.n 3
          span 发货
        .col
          p  Sensoro 在以下情形之一发生时发货：（1）订单网上支付处理成功后，或（2）收到电汇付款后。 Sensoro 可以自行决定在收到订单支付前发货。YUNZI Beacon 的所有权以及损失的风险将于发货地货交承运人时转移给买方。对于需要发往中华人民共和国以外的情况，买方负责办理产品的进口清关以及支付进口的各项手续费、关税和其他费用。计划装运时间（如有）仅为预计时间，可能根据各国情况而不同。 Sensoro 对于因买方未能进口或者运输的延迟导致的任何损失、损害或者处罚不承担责任。
        .title
          span.n 4
          span 确认收货
        .col
          p 如果 Sensoro 发货的产品其性能不能令买方满意，买方可以在收货后15日内通过电子邮件方式 info@sensoro.com 联系 Sensoro 安排（1） Sensoro 在商业上的合理期限内更换产品，或（2） Sensoro 退还减去运费后 YUNZI Beacon 套装的价款。如果买方要求退款且为此同意退货， Sensoro 可以向买方发送邮资已付的退货邮单。如果买方未在收到订单货物后15日内联系 Sensoro ，则视为买方已确认收货。
        .title
          span.n 5
          span SDK 许可
        .col
          h4 (1) 许可使用
          p 受限于本协议的条款和条件，Sensoro授予买方一项个人的、有限的、非排他的、不可转让的许可，仅为开发与运行YUNZI Beacons相配套的应用之目的（“目的”）而使用SDK，并修改SDK包含的示例代码。
          h4 (2) 禁止使用
          p 买方不得亦不得允许他人：

          p i. 为本协议上述5（1）条目的之外其他目的使用SDK；
          p ii. 完全或部分复制 SDK ；除本协议上述第5（1）条有关示例代码的明示条款外，修改、编译、反向工程、解码、分解或以其他方式尝试（y）废除、避免、略过、移除、解除或以其他方式规避 SDK 或 YUNZI Beacons 或其组件中的任何软件保护机制，包括但不限于任何用于限制或控制 SDK 或 YUNZI Beacons 功能性的机制，或（2）从 SDK 或 YUNZI Beacons 或其组件中获取源代码、基本理念、算法、结构或组织；
          p iii. 除本协议上述第5（1）条有关示例代码的明示条款外，为任何目的以任何方式改变、改写、修改或编译 SDK ，包括但不限于误差校正；
          p iv. 除本协议明确准许或经 Sensoro 事先书面同意的情况外，以任何方式向任何人散布、出租、出借、转让、在服务机构使用或授予关于 SDK 的权利或修改。
        .title
          span.n 6
          span 服务
        .col
          p 除非买方已在订单中订购服务且已就服务付费，其无权享受服务。
        .title
          span.n 7
          span 知识产权
        .col
          p 所有产品的相关知识产权，包括所有专利权、著作权、商标、商业秘密和其他专有权利专属于 Sensoro 。
        .title
          span.n 8
          span 免责声明
        .col
          p  Sensoro 对于产品或服务提供并未做出且在此拒绝做出就产品或服务的任何陈述和保证，无论明示或暗示，包括但不限于产品或服务的商销性、适合特别目的、性能、精确性、可靠性以及非侵权的默示担保。 Sensoro 并不承诺产品的运营不受干扰、无误差或符合买方或任何第三方的预期。
        .title
          span.n 9
          span 责任限制
        .col
         p 无论基于任何保证、合同、侵权、疏忽，以下条款均在任何情况下适用于 Sensoro 、其关联方和所有产品（包括软件）和服务（人身伤害或者死亡的除外）：（1） Sensoro 不对任何间接、偶然、特殊、惩罚性或附随性的损失承担责任，包括但不限于利润损失、收益损失、数据误差；（2） Sensoro 就任何及所有损失的累计责任限于买方就特定索赔项下的产品和/或服务支付的价款数额。 Sensoro 已与买方达成一致，即使本协议中约定的有限救济未能实现其本来目的，上述责任限制仍旧继续有效且适用。一些管辖地区不允许上述排除责任或对于间接或附随性损失的责任限制，因此上述排除和限制可能不适用于买方。
        .title.gt-ten
          span.n 10
          span 管辖法/争议解决
        .col
         p 本协议的签订、履行和解释及争议解决均适用中华人民共和国法律。
         p 因本协议引起的或与本协议有关的任何争议，双方应友好协商解决。协商不成的，则应申请中国国际经济贸易仲裁委员会依其仲裁规则和程序在北京进行仲裁，该仲裁委员会做出的裁决是最终的，双方均应受其约束，任何一方不得向法院或其他机关申请变更裁决。仲裁费用由败诉一方负担。
        .title.gt-ten
          span.n 11
          span 通用条款
        .col
         p 买方不可以转让本协议项下的任何权利，或授权任何人履行本协议项下义务，与上述有关的任何行为均不发生效力。本协议构成双方就标的物的完整合意，取代双方此前或与本协议同时的任何口头或书面沟通、提议、陈述和保证。当与双方就标的物的任何往来文件冲突或与额外条款并存时，以本协议为准。双方对本协议的任何修改仅通过书面形式且每一方授权代表签字方可具有约束力。任何明示的豁免或未能及时行使本协议项下的权利并不引起持续性的豁免或任何不履行的预期。本协议中的任何条款因任何原因不具有执行性时，应对该等条款进行必要修正以使其可执行。如果本协议的任何或全部条款排除或限制法定责任，且该等法定责任根据适用法律的强制性规定不可因双方合意通过合同约定而排除或限制，则该等条款应当具有法律允许的效力。除买方的支付义务以外，买方或者 Sensoro 因其合理控制范围以外的原因未能或延迟履行本协议将不承担责任，该等原因包括但不限于劳动争议、罢工、停工、能源、原材料或供应短缺或无法取得、战争、恐怖主义、暴动或自然灾害。