-
  var page = {
    title: [
      '用户协议'
    ],
    subtitle: '2016年12月1日（草案）',
    content: [{
        type: 'h2',
        con: '欢迎您使用 SENSORO 提供的产品及服务。'
      },{
        type: 'p',
        con: '请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不购买使用 SENSORO 所提供的产品及服务，否则意味着您完全接受本协议项下的全部条款。'
      },{
        type: 'h2',
        con: '订购'
      },{
        type: 'p',
        con: '您可以通过 SENSORO 官方网站提交购买订单，当 SENSORO 装运产品后即视为订单完成。任何买方声称的强加于购货订单中的条款和条件，无论 SENSORO 是否实际作出了接受、承认或者其他的行为，均视为予以拒绝且不产生任何效力。'
      },{
        type: 'h2',
        con: '支付'
      },{
        type: 'p',
        con: '您可以通过网络支付工具（支付宝、Paypal、网上银行）或电汇方式（账号由 SENSORO 提供）进行订单支付。'
      },{
        type: 'h2',
        con: '发货'
      },{
        type: 'p',
        con: '订单货品的所有权以及货品损失的风险，将货品从发货地转交给承运人时转移给货品买方。对于需要发往中华人民共和国以外地区的情况，买方需自行负责办理产品的进口清关以及支付进口的各项手续费、关税和其他费用。计划装运时间（如有）仅为预计时间，可能根据各国情况而不同。 SENSORO 对于因买方未能进口或者运输的延迟导致的任何损失、损害或者处罚不承担责任。'
      },{
        type: 'h2',
        con: '确认收货'
      },{
        type: 'p',
        con: '如果 SENSORO 提供的产品因其性能不能令您满意，您可以在 15 日内通过电子邮件方式 support@sensoro.com 联系我们进行退换，因非质量问题退换货品所产生的运费及其他相关费用需要您来承担。如果您未在收到订单货品 15 日内联系 SENSORO，则视为已确认收货。'
      },{
        type: 'h2',
        con: '服务'
      },{
        type: 'p',
        con: '除非您已在订单中订购服务且已就服务付费，否则无权享受服务。当 SENSORO 有合理的依据证明您已经违反本服务协议的规定时，或在特殊情况下本公司认为有必要时，有权暂停或终止您的服务使用，且无需事先通知。'
      },{
        type: 'h2',
        con: '不可抗力'
      },{
        type: 'p',
        con: '因自然灾害如洪水、台风、火灾、爆炸、雷电、地震和风暴等以及社会事件如停电、战争、动乱、恐怖袭击、政府行为、国家政策的突然变动和罢工等不可抗力之因素，或因黑客攻击，网络、电信设备故障，云服务系统故障，政府管制，病毒入侵，或其他情况导致的产品及服务无法正常工作，本公司不承担违约或赔偿责任。'
      },{
        type: 'h2',
        con: '维护中断'
      },{
        type: 'p',
        con: '本公司需要定期或不定期地对提供的服务系统及其相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，本公司无需为此承担任何责任。本公司保留不经事先通知为维修保养、升级或其它目的暂停提供服务任何部分的权利。'
      },{
        type: 'h2',
        con: '知识产权'
      },{
        type: 'p',
        con: '所有产品的相关知识产权，包括所有专利权、著作权、商标、商业秘密和其他专有权利专属于 SENSORO。'
      },{
        type: 'h2',
        con: '免责声明'
      },{
        type: 'p',
        con: 'SENSORO 对于产品或服务提供并未做出且在此拒绝做出就产品或服务的任何陈述和保证，无论明示或暗示，包括但不限于产品或服务的商销性、适合特别目的、性能、精确性、可靠性以及非侵权的默示担保。SENSORO 并不承诺产品的运营不受干扰、无误差或符合买方或任何第三方的预期。'
      },{
        type: 'h2',
        con: '责任限制'
      },{
        type: 'ol',
        class: 'decimal',
        title: '无论基于任何保证、合同、侵权、疏忽，以下条款均在任何情况下适用于 SENSORO 、关联方和所有产品和服务：',
        con: [
          'SENSORO 不对任何间接、偶然、特殊、惩罚性或附随性的损失承担责任，包括但不限于利润损失、收益损失、数据误差；',
          'SENSORO 就任何及所有损失的累计责任限于买方就特定索赔项下的产品和/或服务支付的价款数额。 SENSORO 已与买方达成一致，即使本协议中约定的有限救济未能实现其本来目的，上述责任限制仍旧继续有效且适用。一些管辖地区不允许上述排除责任或对于间接或附随性损失的责任限制，因此上述排除和限制可能不适用于买方。'
        ]
      },{
        type: 'h2',
        con: '法律适用与管辖'
      },{
        type: 'p',
        con: '本协议的签订、履行和解释及争议解决均适用中华人民共和国法律。因本协议引起的或与本协议有关的任何争议，尽最大诚意进行友好协商，如果双方不能协商一致，则双方可向本公司所在地法院提起诉讼。'
      },{
        type: 'h2',
        con: '协议修改'
      },{
        type: 'p',
        con: '根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展需要，SENSORO 有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，我们将会直接在公司网站上公布修改之后的协议内容，该公布行为视为 SENSORO 已经通知您修改内容。SENSORO也可采用电子邮件或其他的传送方式，提示用户协议条款的修改、服务变更、或其它重要事项。'
      },{
        type: 'p',
        con: '如果不同意 SENSORO 对本协议相关条款所做的修改，用户有权并应当停止使用 SENSORO 提供的产品及服务。如果用户继续使用，则视为用户接受 SENSORO 对本协议相关条款所做的修改。'
      },
    ]
  }

include ./_page
