#section-9(style='display:none')
	.markdown
		.div80
		h2 巡检工具
		hr
		p “巡检工具” 应用，是一款帮助开发者轻松实现云子部署及管理的工具。开发者可以通过扫描云子对应的二维码来将云子填入到自己的账户下。

		h3 一、登录/注册账号
		pre 使用邮箱和密码登录，账号为云平台统一登录账号（http://cloud.sensoro.com）
		.images
			img(src='/zh/assets/image/api/inspect/0.jpg',width='270')

		h3 二、添加云子
		pre 通过扫描云子附带的二维码，巡检工具将自动读取二维码中的信息进行添加操作。
		.images
			img(src='/zh/assets/image/api/inspect/1.jpg',width='270')
			img(src='/zh/assets/image/api/inspect/2.jpg',width='270')

		h3 三、设置标签
		pre 通过巡检工具和云平台，开发者可以对账号下的云子设置若干标签以标注部署位置。通过长按列表，弹出提示可进入标签管理。
		.images
			img(src='/zh/assets/image/api/inspect/4.jpg',width='270')
			img(src='/zh/assets/image/api/inspect/5.jpg',width='270')

		h3 四、搜索云子
		pre 支持通过SN、ID、标签来搜索云子。
		.images
			img(src='/zh/assets/image/api/inspect/7.jpg',width='270')

		h3 五、开启关闭巡检
		pre 当开启巡检时，巡检工具将会自动查找附近的云子，获取其传感器数据并将数据上传至云端。
		.images
			img(src='/zh/assets/image/api/inspect/8.jpg',width='270')
			img(src='/zh/assets/image/api/inspect/9.jpg',width='270')

		h3 六、清空巡检数据
		pre 执行这项操作可以清空本地的巡检数据，重新记录云子的巡检状态。
		.images
			img(src='/zh/assets/image/api/inspect/10.jpg',width='270')

		h3 七、状态栏
		pre 页面上方有状态栏，这里将显示账号中云子相关状态。包括账号下总计多少颗云子、已经巡检到多少颗云子、还有多少颗未巡检到、已经上传多少颗云子的数据。
		.images
			img(src='/zh/assets/image/api/inspect/1.jpg',width='270')

		h3 八、云平台
		pre 可以在云平台端查看云子的传感器数据、电量状态等，并管理自己信任的巡检人员，查看他们的巡检记录。http://cloud.sensoro.com/
		.images
			img(src='/zh/assets/image/api/inspect/12.png',width='700')

		p
			a(href='https://itunes.apple.com/cn/app/sensoro-xun-jian-gong-ju/id1053345914?mt=8',target='_blank') iOS 巡检工具
		p
			a(href='http://sensoro.github.io/download/app/sensoro-beacon-inspection/android/SensoroInspection.apk',target='_blank') Android 巡检工具
		p.title 扫码下载更多App
		.images
			img(src='/zh/assets/image/api/qrcode.png',width='115')



		
		

















