#section-10(style='display:none')
	.markdown
		.div80
		h2 部署工具
		hr
		pre 部署工具是提供给开发者解决部署问题的手机客户端，目前仅支持 iPhone 。
		h3 一、设定配置
		p 在部署的过程，我们需要对设备设定统一的UUID、功率、频率以及密码等。我们将需要修改的项设为新的值，其余项设置为"不设置"。
		p.title 如下图所示：
		.images
			img(src='/zh/assets/image/api/deploy/1.jpg',width='270')
		
		h3 二、添加需要配置云子
		p.title 目前我们有两种添加方式：
		p 1.通过扫描二维码添加
		.images
			img(src='/zh/assets/image/api/deploy/2.png',width='270')
		p 2.通过蓝牙扫描附近设备添加
		.images
			img(src='/zh/assets/image/api/deploy/3.png',width='270')

		h3 三、开始配置
		p 当周围的设备均被设置完成后，可以移动到下一个位置配置那些不在范围内的设备。
		p.title 配置状态：
		ul
			li 1.默认状态 ：空心
			li 2.开始配置 ：黄色
			li 3.成功 ：绿色
			li 4.密码错误 ：紫色
			li 5.连接失败 ：红色
			li 6.不在范围内 ：灰色
			.images
				img(src='/zh/assets/image/api/deploy/4.png',width='270')
				img(src='/zh/assets/image/api/deploy/5.png',width='270')

			p
				a(href='https://itunes.apple.com/cn/app/sensoro-bu-shu-gong-ju/id1061844253?mt=8',target='_blank') iOS 部署工具
			p.title 扫码下载更多App
			.images
				img(src='/zh/assets/image/api/qrcode.png',width='116')


		
		

















