#section-12(style='display:none')
	.markdown
		.div80
		h2 硬件参数
		hr
		h3 一、云子硬件参数表
		table
			tr
				td 芯片
				td Nordic
			tr
				td 尺寸
				td 直径 50mm，高度 19mm
			tr
				td 重量
				td 39g
			tr
				td 材质
				td 高光阳极化铝合金，白色 PC + 透明 ABS ，黑色哑光沉金 PCB
			tr
				td 三防
				td 防水/防尘/防震
			tr
				td 协议标准
				td 蓝牙4.0 通过 iBeacon 认证
			tr
				td 适合系统	
				td iOS7.0 及以上 Android 4.3 及以上
			tr
				td 升级
				td 支持空中升级
			tr
				td 安全性
				td 支持密码连接
			tr
				td 传感数据
				td 电量/温度/光线/加速度
			tr
				td LED
				td 3 颗 LED 灯
			tr
				td 发射功率
				td -30dB 到 +4dB 可调节优化信号覆盖范围
			tr
				td 传输距离
				td ~80m （0dB 发射功率）
			tr
				td 广播频率（发送广播间隔）
				td 可调节（100毫秒~1.285秒）
			tr
				td 广播一次消耗电量
				td 7.58 * 10 
					sup -6 
					| mAh (-8dB 发射功率)
			tr
				td 休眠功耗
				td 15uW
			tr
				td 休眠电流
				td 5uA
			tr
				td 供电电压
				td 3.0V
			tr
				td 电池
				td 松下 CR2477 电池，≥1000mAh
			tr
				td 工作时间
				td 1.5~2.5年（取决于具体的工作方式）

		
		

















