#section-13(style='display:none')
	.markdown
		.div80
		h2 说明书
		hr
		h3 一、云子
		p 查看
			a(href='#',target='_blank') 说明书
		p 下载PDF版
			a(href='http://www.sensoro.com/static/yunzi-specs.pdf',target='_blank') 说明书