<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<meta charset="utf-8"/>
	<title>Pages - Admin Dashboard UI Kit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="apple-touch-icon" href="/ico/60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/ico/76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/ico/120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/ico/152.png">
	<link rel="icon" type="image/x-icon" href="favicon.ico"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta content="" name="description"/>
	<meta content="" name="author"/>
	<!-- SEE https://github.com/meteor/meteor/issues/1360
	Due to a "dump uglifier" in meteor run --production where all JavaScript and Styles are aggregated and minified, rickshaw breaks
	 -->
	<script src="http://pages.revox.io/dashboard/latest/html/assets/plugins/rickshaw/rickshaw.min.js"></script>
</head>

<body class="fixed-header ">
</body>
