.sec-employer #box{
    width:800px;
    margin: 0 auto;
}
.sec-employer h3{
    margin: 120px 0 80px 0px;
    text-align: center;
    font-size: 35px;
}
.sec-employer .buttonwrap{
    text-align: center;
}
.sec-employer button{
    margin: 120px 0 80px 0px;
    text-align: center;
}
.sec-employer .btn-default, .sec-employer .btn-default:hover {
    color: #932929;
    border-color: #932929;
    background-color: transparent;
}
.sec-employer .btn-default {
    margin-top: 45px;
    outline: none;
    padding-left: 48px;
    padding-right: 48px;
    cursor: pointer;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*sec_address*/

.sec_address {
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.sec_address ul>li {
    /*border: 1px solid red;*/
    width: 49.5%;
    display: inline-block;
    padding: 25px;
    &:nth-child(even){
        padding-left:114px;
    }
}

.sec_address li>h3 {
    color: #9c3031;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sec_address li>span {
    display: block;
    font-size: 14px;
    color: #555555;
    margin: 2px 0;
}