html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

#fengMap
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.navigation
{
    position: absolute;
    left: 22px;
    bottom: 2%;
}

/**定位图标样式**/

.loc-img {
    position: absolute;
    left: 22px;
    bottom: 75px;
    cursor: pointer;
}

.myloc-img {
    position: absolute;
    left: 72px;
    bottom: 75px;
    cursor: pointer;
}
.myloc-img img {
    width: 120px;
    height: 48px;
}

/**第一第三人称切换样式**/
.authority-img {
    position: absolute;
    right: 22px;
    bottom: 75px;
    cursor: pointer;
}

#description
{
    position: absolute;
    left: 6%;
    top: 2%;
    padding: 10px 25px;
    background: rgba(255,255,255,.5);
    border-radius:4px;
}

.layerMask{
    width: 42px;
    height: 42px;
    position: absolute;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 42px;
    color: rgb(30, 130, 250);
    background-color: white;
    z-index: 999;
}
