-
  var page = {
    title: [
      'EID正式推出',
      'SENSORO提供全面支持',
    ],
    logo: '/zh/assets/image/article/eid_logo.png',
    category: '公司大事件',
    pathname: 'SENSORO全面支持EID',
    content: [{
        type: 'p',
        con: '美国时间2016年4月14日上午8点，也就是北京时间今日11点，谷歌正式于全球推出EddystoneTM的安全框架——EID（Ephemeral Identifiers，临时标识）。 仅仅在谷歌信息发布15分钟后，SENSORO作为谷歌Eddystone在亚太地区唯一的合作伙伴，宣布全面支持此协议。'
      },
      {
        type: 'p',
        con: 'Eddystone是谷歌于2015年7月推出的协议，是一款开源跨平台的低功耗蓝牙Beacon通信标准。如今，Eddystone的应用可实现信息加密和混淆，以实现每个设备的唯一不可仿冒，这就是刚刚推出的EID协议。',
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_mb.jpeg'
      },
      {
        type: 'p',
        con: '自此， Eddystone兼容了4种框架，分别是UID、URL链接、EID（临时标识）、TLM Data（Telemetry Data, 遥测数据）。 Eddystone可以支持多种框架，具有更广泛的用途。'
      },
      {
        type: 'p',
        con: '在大数据时代，物联网信息安全是重中之重。相较于其他信标协议，谷歌显然更加意识到了这一点的重要性。'
      },
      {
        type: 'p',
        con: 'Eddystone 主要做两件事：一是告诉移动设备它们在哪儿、周边有什么；二是使用在线数据连接实际位置。由于Beacon的设计是要让附近任何支持蓝牙核心规格4.0 （Bluetooth Smart规格）的装置都可透过公开讯号中的标识符来发现Beacon，而保证隐私及安全性是大家所关注的重点，谷歌所推出的EID技术可有效为其保驾护航。',
      },
      {
        type: 'p',
        con: '为避免第三方、钓鱼网站等窃取信息、恶意仿冒，EID技术会不停地改变标识符，仅允许有授权的客户端解读，提供安全的信息环境，从而实现信息的加密和混淆。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_xl.jpeg'
      },
      {
        type: 'p',
        con: '因此，EID可使用户下飞机时，行李信息不会被随意篡改，就可以很安全地找到行李。通过应用Eddystone技术实现的场景都将变得更加安全。'
      },
      {
        type: 'p',
        con: 'SENSORO作为拥有世界上最大的传感器网络公司,第一时间在全球市场开始全面支持EID协议。作为全球领先的智能传感器网络运营商，SENSORO的客户遍布51个国家和地区。在去年谷歌发布Eddystone协议时，SENSORO传感器产品迅速提供支持。目前SENSORO已与周大福、高铁、皇家马德里、必胜客等合作实现了标杆性的国际性案例。在全球部署了30余万传感器设备之后，SENSORO已经在商场、机场、餐饮业、零售业、博物馆、智慧旅游、交通领域等都为近距离市场营销服务。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_safe.jpeg'
      },
      {
        type: 'p',
        con: '在谷歌发布此安全框架之前，SENSORO就已经在已有的低功耗蓝牙传感器设备安全性上做了大量的工作。所有SENSORO设备均可设置密码进行加密，防止一切恶意篡改。利用配置工具，设置“密钥”并开启防蹭用功能后，SENSORO设备就会以安全模式进行广播。如今，SENSORO的设备也在第一时间支持EID技术。'
      },
      {
        type: 'p',
        con: '去年，SENSORO在Eddystone发布之后，一个月的时间内即与谷歌达成合作，并成为Eddystone在亚太区的唯一合作公司。目前，SENSORO的传感器设备同时支持iBeacon与Eddystone，传感器已经覆盖31，560家传统零售门店。其先进的传感器技术与丰富的国际化物联网经验成为谷歌选择其作为官方合作伙伴的重要原因，谷歌公司在Eddystone推进的过程中，与SENSORO市场以及技术层面的深度合作都正在进行。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_hz.jpeg'
      },
      {
        type: 'p',
        con: '伴随物联网的快速发展，科技巨头都想成为信息产业新浪潮的弄潮儿。去年，谷歌发布了Eddystone蓝牙通信标准，欲通过打造信标生态系统加快其构建物联网进程。如今，刚推出的EID协议为其实现提供安全保障。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_cp.jpeg'
      },
      {
        type: 'p',
        con: '同时，提供一切智能服务的低功耗蓝牙传感器在织造此物联网络中扮演中重要角色。SENSORO将结合Beacon与线上数据在物联网生态环境中实现更多场景。而通过对iBeacon以及Eddystone的全面支持，SENSORO也在致力于物联网世界的构建。其传感器产品及轻应用平台将继续为近场距离营销以及室内定位等领域服务。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/eid_jz.jpeg'
      },
      {
        type: 'p',
        con: '而在今年SENSORO即将在余下的数月内发布超远距离可控远程Beacon以及IoT基站，为打造智慧城市，提高城市运行效率助力。物联网时代已经到来。'
      }
    ]
  }

include ../_article
