-
  var page = {
    title: [
      '为艺术商场',
      '提供真正的物联网服务'
    ],
    logo: '/zh/assets/image/article/k11_logo.png',
    pathname: 'k11',
    content: [{
        type: 'img',
        con: '/zh/assets/image/article/k11_hd.png'
      },
      {
        type: 'p',
        con: 'K11是全球首个品牌率先把艺术·人文·自然三大核心元素融合，将艺术欣赏、人文体验、自然环保完美结合和互动，带出无限创意、自由及个性化的生活品牌，并为大众带来前所未有的感官体验。所以产品的外观要求较高，要与其时尚氛围完美融合起来。针对这个情况，我们为其选择了外观极佳的云子Ibecaon传感器，完美融合了艺术商场的环境。'
      },
      {
        type: 'p',
        con: 'K11是全球首个品牌率先把艺术·人文·自然三大核心元素融合，将艺术欣赏、人文体验、自然环保完美结合和互动，带出无限创意、自由及个性化的生活品牌，并为大众带来前所未有的感官体验。所以产品的外观要求较高，要与其时尚氛围完美融合起来。针对这个情况，我们为其选择了外观极佳的云子Ibecaon传感器，完美融合了艺术商场的环境。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/k11_hd.png'
      },
      {
        type: 'p',
        con: 'K11是全球首个品牌率先把艺术·人文·自然三大核心元素融合，将艺术欣赏、人文体验、自然环保完美结合和互动，带出无限创意、自由及个性化的生活品牌，并为大众带来前所未有的感官体验。所以产品的外观要求较高，要与其时尚氛围完美融合起来。针对这个情况，我们为其选择了外观极佳的云子Ibecaon传感器，完美融合了艺术商场的环境。'
      }
    ]
  }

include ../_article
