-
  var page = {
    title: [
      '皇马携豪华明星阵容',
      '再度来访中国'
    ],
    logo: '/zh/assets/image/article/madrid_logo.png',
    category: '云子SCRM',
    pathname: '皇马访华',
    content: [{
        type: 'img',
        con: '/zh/assets/image/article/madrid_poster.jpeg',
      },
      {
        type: 'p',
        con: '今晚8点，时隔四年，皇马携豪华明星阵容再度来访中国，为中国球迷奉上非一般的视觉盛宴。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/madrid_yz.jpeg',
      },
      {
        type: 'p',
        con: '今年3月26日，西班牙皇家马德里 CEO、亚太区首席执行官、新媒体负责人 Rafa 到达中国，与 SENSORO 团队、微软全球新兴国家主席奥兰多一起讨论全新技术与社交媒体下的数字营销方案。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/madrid_ss.jpeg',
      },
      {
        type: 'p',
        con: 'SENSORO非常荣幸的作为唯一一家中国本土创业公司与皇马在数字营销方面达成合作，于此同时，SENSORO与皇马新媒体部门展开深度合作，推进2015年7月皇马中国之行的数字营销方案落地。'
      },
      {
        type: 'p',
        con: '皇家马德里作为一只世界级的球队，作为一个国际顶级品牌，在2015年中国之行中选择了iBeacon技术作为中国之行的重要技术支撑。毫无疑问，这一世界级品牌在新媒体上的探索也将引发一系列的蝴蝶效应，甚至有可能，当中国球迷远赴重洋到达西班牙皇家马德里伯纳乌球场的时候，也可以打开微信摇一摇参与当地粉丝的本土活动。iBeacon，将使全球线下活动一体化成为可能。'
      },
      {
        type: 'p',
        con: '在不久以后，皇马也将正式落地中国，展开更多更加有意思的数字营销，中国球迷也将开始真正第一次与全球同步，在智能手机上获得最新的皇马新闻与消息推送；这是在足球领域，国际顶级品牌第一次尝试iBeacon技术。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/madrid_sh.jpeg',
      },
      {
        type: 'p',
        con: '2014年，SENSORO与美国合作伙伴一起，为美国最著名的橄榄球球队西雅图海鹰队和星巴克提供基于iBeacon技术方案，打通海鹰队与星巴克会员之间的数字鸿沟，为所有的橄榄球迷提供更好体验。'
      }
    ]
  }

include ../_article
