-
  var page = {
    title: [
      '玫琳凯上亿办公楼今日开业',
      '楼内有宝物'
    ],
    logo: '/zh/assets/image/article/marykay_logo.png',
    category: '云子SCRM',
    pathname: '玫琳凯',
    content: [{
        type: 'p',
        con: 'Pokémon Go风暴最近席卷全球，可惜目前中国被锁区，国内玩家纷纷扼腕叹息。这时，正在全球铺设物联网基站网络的SENSORO灵机一动，其云子SCRM平台推出了基于物联网的Pokémon Go游戏，不仅可以互动娱乐，极大增加了新用户关注度，实现用户导流，核销率甚至超过了90%。'
      },
      {
        type: 'p',
        con: '2014年，玫琳凯中国完成了对上海静安门大厦的收购，并挂上了“Mary Kay”字样的玫琳凯品牌标志，新大楼共有12个楼层，面积达26,952平方米。'
      },
      {
        type: 'p',
        con: '2016年8月1日，举国欢庆的日子，新玫琳凯大厦（玫琳凯中国行政管理中心）宣布正式投入使用，开业的姿势如此霸气，满眼制服的诱惑——'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/maryKay_zf.jpeg',
      },
      {
        type: 'p',
        con: '为了让员工们能够尽快地熟悉入驻的新家，玫琳凯中国结合SENSORO的低功耗智能传感器设备——云子及云盒，引入SENSORO 的云子SCRM 平台最近最为火热的基于物联网的Pokémon Go 寻宝游戏，调动全体员工在新大楼内搜寻宝物。这款基于地理位置寻宝的活动更可以引导大家更好地了熟悉新大楼，了解大楼的独特设计和用心。'
      }
      // {
      //   type: 'p',
      //   con: '接下来，就是为您揭开本款寻宝游戏真相的时刻啦！'
      // },
      // {
      //   type: 'p',
      //   con: '本游戏，无需下载App,不会被锁区，简单易操作。只要玩家打开蓝牙，通过微信扫描二维码或者通过微信摇一摇周边进入到活动页面，即可开始寻宝之旅。'
      // },
      // {
      //   type: 'img',
      //   con: '/zh/assets/image/article/maryKay_pm.jpeg',
      // }
    ]
  }

include ../_article
