-
  var page = {
    title: [
      'SENSORO 与国博让“珍宝”说话',
      '历史艺术数字化大跨越'
    ],
    logo: '/zh/assets/image/article/museum_logo.png',
    category: '云子SCRM',
    pathname: '国家博物馆',
    content: [{
        type: 'p',
        con: '2016年4月11日，SENSORO与中国国家博物馆合作，用最前沿的低功耗蓝牙技术助力“罗马尼亚珍宝”展。参观者仅持智能手机、平板电脑等智能移动终端设备就可体验近场互动，开启一场探秘罗马尼亚历史的视听之旅。据悉，此次展览从4月19日起免费对公众展出，将持续至5月8日'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/museum_rm.jpeg',
        // desc: '罗马尼亚驻华使馆文化参赞鲁贝安(Adrian Lupeanu)手持SENSORO云盒设备'
      },
      {
        type: 'p',
        con: '随着中国经济的快速发展，物质资本成几何式增长，人们对于获取知识的饥渴也逐渐显露，逛展览就成为人们获取知识的有力渠道之一。而颇受全世界游客欢迎的中国国家博物馆，藏品数量达百余万件，每年接待国内外游客达数百万人次。作为文化知识传播的巨大载体，国家博物馆举办展览的方式方法也不断与时俱进。从志愿者人工导览，到语音导览器租借服务，到此次“罗马尼亚珍宝”展携手SENSORO，打造数字展览平台，连接线下真实场景。'
      },
      {
        type: 'p',
        con: '看一个展，了解一个国家的历史文化。那么，来到“罗马尼亚珍宝”展，要如何享受创新科技带来的观展乐趣呢？'
      },
      {
        type: 'p',
        con: 'SENSORO设备基于地理位置不断发送信息，当你走进展区时，就会即时获取博物馆展览信息；而当你走近想要欣赏的展品时，手机界面会自动接收具体展品的详细资料。无论你走到哪个展品面前，手机界面都会随时切换到眼前的珍宝资讯。SENSORO设备在支持文字导览的同时，还支持语音导览，贴身为你打造亲密、详尽、实时的导览服务。这种数字化观赏体验方便而又快捷，只要携带自己的手机前往，就可以自主欣赏所有的展品。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/museum_item.jpeg',
        // desc: '↑手机导览界面截屏'
      },
      {
        type: 'p',
        con: '除此之外，手机导览还可以随时对展品信息截屏，方便参观者收藏并反复观看。'
      },
      // museum_acy
      {
        type: 'img',
        con: '/zh/assets/image/article/museum_acy.jpeg',
        // desc: '↑手机导览界面截屏'
      },
      {
        type: 'p',
        con: '此次展览以“罗马尼亚文明的诞生”、“罗马尼亚民族诞生的序曲”、“东西方交汇处的罗马尼亚文明”三部分来全面展示罗马尼亚主要历史时期的文明足迹。从史前时期到近代早期（18世纪末），丰富多彩、瑰丽夺目的重要文化遗产一一展现在你眼前。展览展出共计445件（套）展品，类型丰富多样，有石器、陶瓷器、金银器、铜器、玻璃器、木器、壁画、书稿及纺织物等，大时间跨度展现罗马尼亚人日常生活方式、建筑风格、宗教信仰等不同时代的文化文明。'
      },
      {
        type: 'p',
        con: '展览行业的日益兴盛，使得展览举办方更注重如何推出好的展览内容并取得理想的展示效果。每一个与高新科学技术相结合的尝试，都是为了更好地服务公众，多层次、多形式的表达文化理念，传播文化信息。SENSORO与国家博物馆携手是展览行业发展的一个趋势，科技创新势必帮助一个行业革新前行，越走越远。而双方在展览行业的精诚合作，成功创新展览行业发展模式。'
      },
      {
        type: 'p',
        con: '现下中国互联网行业，或许最稀缺的不是蜂拥而至的资本，也不是所谓高大上的“创新论坛”IP，而是对于打上“互联网＋”标签之后，科技跨界、跨行业的合作所带来的真正服务民众、致力经济社会发展的实际效果。'
      },
      {
        type: 'p',
        con: '据SENSORO高层透露，今年上半年SENSORO即将推出物联网基站，打造一个独立的低功耗广域网络，并会对外开放服务。通过这个网络，所有智能传感器可互通信息，而高级云端系统会对所有信息进行综合收集分析，深层次挖掘大数据下的红利。'
      }
    ]
  }

include ../_article
