-
  var page = {
    title: [
      'SENSORO＋王府井步行街',
      '微信优惠券随处“摇”'
    ],
    logo: '/zh/assets/image/article/wangfujing_logo.png',
    category: '云子SCRM',
    pathname: '王府井步行街',
    content: [{
        type: 'p',
        con: '从2月1日至2月22日，每日上午9点到晚9点，王府井步行街开启“金猴迎新春金街过大年”活动。顾客们来到步行街，打开手机蓝牙，点开微信“摇一摇”，摇动手机，就有机会获得 200余种微信优惠券。'
      },
      {
        type: 'p',
        con: '通过参加活动，顾客可能会摇到折扣券、代金券、礼品券等各种微信卡券，比如北京APM1元特价菜、东方新天地的品牌折扣券和IN88赠送的北京故宫门票等。'
      },
      {
        type: 'p',
        con: '一直到正月十五，步行街内37个商场的120多个品牌都参与到本次活动中，这也是自王府井商会成立后首次举办的大型联合活动。本次活动由 SENSORO(北京升哲科技有限公司) 提供 iBeacon硬件与云子X实验室平台支持。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/wangfujing_banner.jpeg',
      },
      {
        type: 'p',
        con: '“金猴迎新春 金街过大年”活动由王府井建设管理办公室、王府井商会和金街内各商家发起，由 SENSORO提供硬件与平台支持。'
      },
      {
        type: 'p',
        con: '在2月1日至2月22日期间，每日上午9点到晚9点，顾客只要来到王府井大街，即可在大街上参与活动。'
      },
      {
        type: 'ol',
        class: 'decimal',
        title: '参与方式为：',
        con: [
          '打开手机蓝牙；',
          '打开微信APP，并找到“摇一摇”页面；',
          '点开微信“摇一摇”，等待页面左下角出现“周边”；',
          '摇动手机，出现活动页面（如下）。'
        ]
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/wangfujing_wx.jpeg',
      },
      {
        type: 'p',
        con: '点击活动链接，参与抽奖即有机会获得微信优惠券（保存于微信优惠券模块中）。这些卡券可应用在王府井步行街上对应的商家，顾客们可在优惠券的有效期内直接找商家兑换优惠券。'
      },
      {
        type: 'p',
        con: 'SENSORO在王府井步行街上部署升级版云盒产品（iBeacon设备），保证所有顾客来到王府井步行街后，在大街的任意位置都能够参加“摇一摇”活动，随手摇到百货大楼、东方新天地等街区内主要商家和品牌商推出的百余种优惠卡券，为商家吸引更多客流，实现场景化O2O即时互动，提升春节期间顾客的用户体验。'
      },
      {
        type: 'p',
        con: 'SENSORO 是全球领先的智能传感器网络运营商，客户遍布51个国家。在蓝牙信标（iBeacon）领域，SENSORO 已经成为全球排名前三的领导者，其传感器已经覆盖3万家传统零售门店，目前在百货零售行业中也积累了丰富的应用案例。'
      },
      {
        type: 'p',
        con: '在王府井步行街部署的是SENSORO的升级版云盒产品——SmartBeacon-4AA Pro，新款产品4AA Pro 防尘防水，其防水等级为 IP67，适用于户外场景。同SENSORO 的其他智能传感器一样，此款设备具备低功耗、强兼容性、信号稳定、支持企业级设备管理支持等特点，信号覆盖范围为15cm-100m。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/wangfujing_fs.jpeg',
      },
      {
        type: 'p',
        con: '本次活动使用的是 SENSORO轻应用平台——云子X实验室的海报卡券功能。2015年7月份，皇家马德里足球俱乐部第四次中国行活动中，SENSORO与皇马合作曾经运用此海报卡券功能进行近距离数字营销活动，为皇家马德里回馈全国亿万球迷服务。（请点击云子X实验室链接，了解更多平台功能。）'
      },
      {
        type: 'p',
        con: 'SENSORO通过提供智能传感器硬件设备与轻应用平台，成功将场景实现与底层平台完全融入在一起。除支持购物场景下的精准服务外，还在全国40多家5A级景区、博物馆、展会、机场、高铁等落地，推进 iBeacon渗入到各个领域。'
      },
      {
        type: 'img',
        con: '/zh/assets/image/article/wangfujing_wr.jpeg',
      },
      {
        type: 'p',
        con: '近期SENSORO团队与微软集团全球执行副总裁陆奇（左五）、微软亚太研发集团主席、微软亚洲研究院院长洪小文（左三）、微软亚洲研究院副院长张益肇（左二）共同讨论互联网行业发展现状与趋势，将一起探索更多物联网发展可能性。'
      }
    ]
  }

include ../_article
