<template name="widget_stackedBarWidget">
	<div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle">
		<div class="panel-heading">
			<div class="panel-controls">
				<ul>
					<li><a href="#" class="portlet-collapse" data-toggle="collapse"><i
							class="portlet-icon portlet-icon-collapse"></i></a>
					</li>
					<li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
							class="portlet-icon portlet-icon-refresh"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body no-padding">
			<ul class="nav nav-tabs nav-tabs-simple">
				<li class="active">
					<a href="#widget-15-tab-1" class="p-t-5">
						APPL<br>
						22.23<br>
						<span class="text-success">+60.223%</span>
					</a>
				</li>
				<li><a href="#widget-15-tab-2" class="p-t-5">
					FB<br>
					45.97<br>
					<span class="text-danger">-06.56%</span>
				</a>
				</li>
				<li><a href="#widget-15-tab-3" class="p-t-5">
					GOOG<br>
					22.23<br>
					<span class="text-success">+60.223%</span>
				</a>
				</li>
			</ul>
			<div class="tab-content p-l-20 p-r-20">
				<div class="tab-pane no-padding active" id="widget-15-tab-1">
					<div class="full-width">
						<div class="full-width">
							<div class="widget-15-chart rickshaw-chart"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane no-padding" id="widget-15-tab-2">
				</div>
				<div class="tab-pane" id="widget-15-tab-3">
				</div>
			</div>
			<div class="p-t-20 p-l-20 p-r-20 p-b-30">
				<div class="row">
					<div class="col-md-9">
						<p class="fs-16 text-black">Apple’s Motivation - Innovation
							<br>distinguishes between A leader and a follower.
						</p>

						<p class="small hint-text">VIA Apple Store (Consumer and Education Individuals)
							<br>(800) MY-APPLE (800-692-7753)
						</p>
					</div>
					<div class="col-md-3 text-right">
						<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>

						<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>