<template name="widget_graphTile">
	<div class="widget-4 panel no-border  no-margin widget-loader-bar">
		<div class="container-sm-height full-height">
			<div class="row-sm-height">
				<div class="col-sm-height col-top">
					<div class="panel-heading ">
						<div class="panel-title text-black hint-text">
                                  <span class="font-montserrat fs-11 all-caps">
	                                  Product revenue <i class="fa fa-chevron-right"></i>
                                  </span>
						</div>
						<div class="panel-controls">
							<ul>
								<li><a href="#" class="portlet-refresh text-black"
								       data-toggle="refresh"><i
										class="portlet-icon portlet-icon-refresh"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row-sm-height">
				<div class="col-sm-height col-top">
					<div class="p-l-20 p-r-20">
						<h5 class="no-margin p-b-5 pull-left hint-text">Pages</h5>

						<p class="pull-right no-margin bold hint-text">2,563</p>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="row-sm-height">
				<div class="col-sm-height col-bottom ">
					<div class="widget-4-chart line-chart " data-line-color="success"
					     data-area-color="success-light" data-y-grid="false" data-points="false"
					     data-stroke-width="2">
						<svg></svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>