<template name="widget_imageWidgetBasic">
	<div class="widget-2 panel no-border bg-primary widget widget-loader-circle-lg no-margin">
		<div class="panel-heading">
			<div class="panel-controls">
				<ul>
					<li><a href="#" class="portlet-refresh" data-toggle="refresh"><i
							class="portlet-icon portlet-icon-refresh-lg-white"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="pull-bottom bottom-left bottom-right padding-25">
				<span class="label font-montserrat fs-11">NEWS</span>
				<br>

				<h3 class="text-white">So much more to see at a glance.</h3>

				<p class="text-white hint-text hidden-md">Learn More at Project Pages</p>
			</div>
		</div>
	</div>
</template>