#impress.impress-not-supported
  .impress(data-transition-duration="1000")
    .step#op-sign.step(data-x=1000,data-y=1000)
        h1 弹幕测试
        img(src="/images/opt/team.png")
    .step#op-title.step(data-x=1000,data-y=1100, data-rotate-x=-90,data-rotate-y=0)
        div 弹幕测试
        

    .step#overview(data-x="3000", data-y="1500", data-scale="6")
