<template name="executiveMenuBar">
    <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
      <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
      </a>
      <ul>
        <li class=" ">
          <a href="/">Dashboard</a>
        </li>
        <li class="">
          <a href="/"><span class="title">Social</span></a>
        </li>
        <li class="">
          <a href="/"><span class="title">Sample</span></a>
        </li>
        <li class="">
          <a href="/"><span class="title">Sample Two</span></a>
        </li>
        <li>
          <a href="javascript:;"><span class="title">Dropdown</span>
        <span class=" arrow"></span></a>
          <ul class="">
            <li class="">
              <a href="/">Sample</a>
            </li>
            <li class="">
              <a href="/">Sample</a>
            </li>
            <li class="">
              <a href="/">Sample</a>
            </li>
            <li class="">
              <a href="/">Sample</a>
            </li>
          </ul>
        </li>
      </ul>
      <a href="#" class="search-link d-flex justify-content-between align-items-center hidden-lg-up" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
    </div>
</template>