html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/* 地图显示区域样式 */
#map-container {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
} 
#fengMap
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/* 浏览器不兼容webGL 时的提示 */
.noWebGL {
    position: fixed;
    font-family:'Microsoft YaHei';
    top: 50%;
    color:rgba(212, 43, 43, 1);
    margin-top: -60px;
    padding-left: 40%;
    background-color:rgba(178, 226, 240, 1);
    width: 100%;
    height: 120px;
    font-weight:100;
}
.btn-group-vertical .btn:focus {
    outline: none;
}

/* 楼层按钮 */
.group-layer {
    position: absolute;
    right: 20px;
    top: 80px;
    width: 45px;
}

.btn-group-vertical .layer-list > label.btn:first-child {
    border-radius: 0;
}

.btn-group-vertical .layer-list > label.btn:last-child {
    border-radius: 0;
}
/* 缩放按钮组 */
.zoom-group {
    position:absolute;
    top:240px;
    left: 2%;
}
/* 下拉框样式 */
.dropdown {
    position:absolute;
    top:60px;
    left: 2%;
}

/* 视角按钮组 */
.viewmode-group {
    position:absolute;
    top:240px;
    left: 2%;
}

.modal-dialog.bottom {
    position:absolute;
    bottom:50px;
    left:0px;
    right:0px;
    margin:auto;
}

/* 弹出提示框样式 */
#prompt {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family:Consolas,monospace;
}
.btn-lg {
    padding: 10px;
    font-size: 16px;
}

/* 适配手机浏览器样式 */
@media screen and (min-width: 768px) {
    .group-theme {
        top: 328px;
    }
    .group-zoom {
        top: 392px;
    }
    .group-layer {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
}
    .viewmode-group .btn,
    .btn-group-vertical .layer-list > label.btn {
        height: 45px;
        line-height: 28px;
        text-align: center;
    }
    .layer-list {
        width: 45px;
    }
    .btn-layer{
        padding: 2px 0;
    }
    #top,
    #down {
        width: 45px;
        height: 28px;
        line-height: 14px;
    }
    #top > i {
        font-size: 16px;
    }
    #down > i {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .btn > i {
        font-size: 18px;
    }
    .group-theme {
        top: 288px;
    }
    .group-zoom {
        top: 342px;
    }
    .group-layer {
        position: absolute;
        right: 20px;
        top: 80px;
        width: 40px;
    }
    .viewmode-group .btn,
    .btn-group-vertical .layer-list > label.btn {
        height: 39px;
        line-height: 29px;
    }
    .layer-list {
        width: 40px;
    }
    #top,
    #down {
        width: 40px;
        height: 18px;
        padding: 0;
    }
    #top > i {
        font-size: 14px;
    }
    #down > i {
        font-size: 14px;
    }
     .btn-layer{
        padding: 2px 0;
    }
}