html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

#fengMap
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.btn-group-vertical
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.container-fluid
{
    position: absolute;
    left: 2%;
    bottom: 10%;
    line-height: 28px;
}

#prompt
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#panel-1
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#control-panel
{
    position: absolute;
    left: 2%;
    top: 2%;
}

.btns
{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.btns button
{
    display: block;
    margin-bottom: 10px;
}
.operating{
    position: absolute;
    left: 2%;
    bottom: 2%;
}
.operating button {
    display: block;
    margin-bottom: 10px;
}
#card{
    position: absolute;
    left: 2%;
    top: 10%;
}

#card p {
    line-height: 18px;
    margin: 0;
}

#message{
    position: absolute;
    top:0;
    width: 100%;
}
